<launch>

    <arg name="imu_SerialID" default="disable" />
    <arg name="imu_SerialPort" default="/dev/ttyUSB0" />
    <arg name="imu_QuatTopic" default="/Quaternion" />
    <arg name="imu_IMUTopic" default="/IMU" />
    <arg name="imu_NodeName" default="XSens"/>

    <!-- Launch XSens node -->
    <node name="$(arg imu_NodeName)" pkg="xsens_sdk" type="ReadIMU_ros.py" output="screen">
        <param name = "serial_number" value = "$(arg imu_SerialID)"/>
        <param name = "serial_port" value = "$(arg imu_SerialPort)"/>
        <param name = "quat_topic" value = "$(arg imu_QuatTopic)"/>
        <param name = "imu_topic" value = "$(arg imu_IMUTopic)"/>
    </node>

</launch>
